/* Resetar configurações - Seletor de todos os elementos */
* {
  margin: 0; /* margens zeradas */
  padding: 0;
  box-sizing: border-box; /* Medida vem da borda e qualquer padding interno ele se adapta*/
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5); /* red green blue alpha*/
  --surface-color: rgba(255, 255, 255, 0.1); /* red green blue alpha*/
  --surface-color-hover: rgba(255, 255, 255, 0.1);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background-image: var(--bg-url); /* setando a imagem de bg */
  background-repeat: no-repeat; /* sem repetições */
  background-position: top center; /* eixo Y eixo X */
  background-size: cover; /* cobrir todo o espaço */

  /* SHORTCUT background: color image repeat position/size */
  /*background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;*/
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  /*border: 1px solid red;*/
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px; /* faz o margin para os lados - mantém alinhado ao meio */
  padding-top: 56px;
  padding: 0 24px;
}

/* switch */
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  align-items: center;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%); /* 50% a menos no eixo Y */
}

.light #switch button {
  left: initial;
  right: 0;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px; /* Geralmente não precisa definir altura */
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* lista - links */
ul {
  list-style: none; /* removendo estilo da lista */
  display: flex; /* setando o flex pros elementos se encaixarem */
  flex-direction: column; /* direção do flex - no caso Coluna*/
  gap: 16px; /* espaço entre os elementos */

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500px;

  transition: background 0.2s;
}

/* pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover); /* red green blue alpha*/
  border: 1.5px solid var(--text-color);
}

#social-links {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50px;
}

#social-links a:hover {
  background: var(--highlight-color);
}

/* footer */
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
